Welcome home.

<form id="testResults" action="/tests" method="post">
  <input type="hidden" name="cafe[google_id]" value="" />
  <input type="hidden" name="cafe[name]" value="" />
  <input type="hidden" name="cafe[latitude]" value="" />
  <input type="hidden" name="cafe[longitude]" value="" />
  <input type="hidden" name="test_result[upload_mbps]" value="" />
  <input type="hidden" name="test_result[download_mbps]" value="" />
  <input type="hidden" name="test_result[loss_rate]" value="" />
  <input type="submit" value="Upload" />
</form>

<div id="ndtAppletBackground">
  <div id="ndtApplet">
    <applet name="NDT" code=Tcpbw100.class codebase="http://ndt.iupui.donar.measurement-lab.org:7123" ARCHIVE="Tcpbw100.jar" width=400 height=400></applet>
  </div>
</div>

<div id="map"></div>
<script type="text/javascript">

var map;
var infowindow;
var placesService;
var markersArray = [];


function init(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  var location = new google.maps.LatLng(latitude, longitude);
  
  map = new google.maps.Map(document.getElementById('map'), {
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: location,
    zoom: 16,
  });
  infowindow = new google.maps.InfoWindow();
  placesService = new google.maps.places.PlacesService(map);

  // Set event listeners to update the list of places when the map is moved.
  google.maps.event.addListener(map, 'dragend', retrievePlaces);
  google.maps.event.addListener(map, 'zoom_changed', retrievePlaces);
  
  // This listener is needed to get the initial list, but immediately removed
  // to prevent flicker of markers because it's redundant with the other event
  // listeners (above).
  var handle = google.maps.event.addListener(map, 'tilesloaded', function() {
    google.maps.event.removeListener(handle);
    retrievePlaces();
  });
}

// Hide the applet when the user clicks outside of it.
$("#ndtAppletBackground").click(function(event) {
  $("#ndtAppletBackground").toggle();
});

navigator.geolocation.getCurrentPosition(init);

</script>

<div id="cafeList"></div>
