$left-edge: 124px;

#logo {
  margin-left: $left-edge - 64px;
  margin-bottom: 50px;
  margin-top: 10px;
}

#container {
  margin-left: $left-edge;
}

.box {
  box-shadow: -5px 4px 3px #CCCCCC;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}

body {
  font-family: Helvetica, sans-serif;
  background-image: url("/assets/stripe-background.png");
}