// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$map-height: 340px;
$list-margin: 5px;
$col-width: 700px;

#main {
  width: $col-width;
}

#nearby-map {
  height: $map-height;
  width: 400px;
  border: 0;
  margin: 0;
  float: left;
}

#cafeList {
  margin: $list-margin;
  padding: 0;
  float: left;
  width: 290px;
  height: $map-height - $list-margin*2;
  overflow-y: auto;
  
  li {
    padding: 1ex;
    border: solid 2px transparent;
    
    &:hover {
      border: solid 2px #DDD;
      background-color: #FFF;
    }
    
    a { float: right; }
  }
}

#ranking {
  width: $col-width;
}

.box {
  margin: 0 0 5ex 0;
}

#testResults {
  display: none;
}

thead { font-weight: bold }
